<div class="content">
<h1>AQUIII</h1>
<img src="../../img/frs.png" alt="logo">
</div>


{{!-- Link resolver o erro de renderização da imagem: 
    https://www.geeksforgeeks.org/how-to-display-images-using-handlebars-in-node-js/ --}}